{% extends 'accounts/base.html' %}

{% block title %}
  Profile Update
{% endblock %}

{% block body %}
	<section>
		<div class="fixed-container-login">
			  {% if user.is_authenticated %}
			    <h1>Profile Update</h1>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <button type="submit">Update</button>
                    </form>
			  {% else %}
			    <h2>User is anonymous</h2>
			  {% endif %}
		</div>
	</section>

{% endblock %}
