{% extends 'accounts/base.html' %}

{% block title %}
    Change and update order # {{ object.pk }}
{% endblock %}

{% block body %}
    <h1> Change and update this order #{{ object.pk }}</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update order</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapp:order_details' pk=object.pk %}">Back to order # {{ object.pk }}</a>
    </div>
{% endblock %}