{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
  Orders list
{% endblock %}

{% block body %}

	<div class="container">
	  <h1>Orders:</h1>
		<div class="row">
		  {% if orders %}
		    <div>
		      {% for order in object_list %}
		        <div>
		          <div class="product-details">
			        <img src="{% static 'img/products/checkout.png' %} " alt="Order Image" class="product-image">
			        <br><br><br>
		          </div>
		            <div class="product-details">
			            <a href="{% url 'shopapp:order_details' pk=order.pk %}" >Details #{{ order.pk }}</a>
		                 <b style="color: mediumblue">Order by {% firstof order.user.first_name order.user.username %}</b>
		                 <p>Promocode: <code>{{ order.promocode }}</code></p>
		                 <p>Delivery address: {{ order.delivery_address }}</p>
		            </div>
		        </div>
		      {% endfor %}
		    </div>
		  {% else %}
		    <h3>No orders yet</h3>
		  {% endif %}
		     <div class="btn-create-new">
		        <a href="{% url "shopapp:order_create" %}">Create a new order</a>
		    </div>
		</div>
	</div>
{% endblock %}
