{% extends 'accounts/base.html' %}

{% block title %}
	Create product
{% endblock %}

<section>
    {% block body %}
        <div class="fixed-container-login">
            <h1>Create a new product</h1>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Create</button>
                </form>
            </div>
             <div class="back-to-list">
                <a href="{% url "shopapp:products_list" %}">Back to products list
                </a>
            </div>
        </div>
{% endblock %}
</section>