{% extends 'accounts/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block title %}
	Confirm archive {{ object.name }}
{% endblock %}

{% block body %}
	<h1>Are you sure you want archive {{ object.name }}?</h1>
	<br>
	<div>
		<a href="{% url 'shopapp:product_details' pk=object.pk %}">Cancel and Back to product</a>
	</div>
	<br>
	<div>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
            <div class="back-to-list">
			    <button type="submit">Archive</button>
            </div>
		</form>
	</div>
{% endblock %}